<div class="ok">
  <app-navbar></app-navbar>

  <div class="final">
    <div class="text1">Project Stabalizer</div>
    <div class="text">
      It is an initiative by FOT (Fields of Tomorrow) with an aim to provide
      stabilizers in areas where farmers are deprived of electricity. It is
      significantly helpful to farmers as it directly addresses one of the
      critical challenges they face: inconsistent and unreliable electricity. By
      providing stabilizers, the project ensures that farmers can rely on their
      electrical equipment, leading to improved efficiency and productivity.
    </div>
  </div>
</div>

<h1>Advantages:</h1>
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="207"
  height="4"
  viewBox="0 0 207 4"
  fill="none"
>
  <path
    d="M2 2H205"
    stroke="#757575"
    stroke-width="4"
    stroke-linecap="square"
  />
</svg>

<div class="mega">
  <div class="list">
    <ol>
      <li>Consistent Power Supply</li>
      <li>Increased Productivity</li>
      <li>Cost Savings</li>
      <li>Enhanced Crop Quality</li>
      <li>Reduced Downtime</li>
      <li>Empowerment and Self-Sufficiency</li>
    </ol>
  </div>
  <div>
    <img src="../../assets/product2.png" class="product" />
  </div>
</div>

<h2>
  Overall, Project Stabilizer supports the financial viability and
  sustainability of farming, aligning with the broader goals of the "Fields of
  Tomorrow" campaign to secure the future of agriculture.
</h2>
