<div class="ok">
  <app-navbar></app-navbar>
  <div class="final">
    <div class="text1">About Us</div>
    <div class="text">Fields of Tomorrow</div>
  </div>
</div>

<h1 class="h1">What is F<span>O</span>T?</h1>
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="205"
  height="4"
  viewBox="0 0 205 4"
  fill="none"
>
  <path
    d="M0 2H203"
    stroke="#757575"
    stroke-width="4"
    stroke-linecap="square"
  />
</svg>

<div class="flexbox">
  <div class="ohgod">
    <p class="one">
      "Fields of Tomorrow" (FOT) is a campaign dedicated to supporting farmers
      through a collaborative partnership with the government.
    </p>

    <p class="two">
      The primary focus of FOT is to make farming financially stable and
      sustainable, ensuring that farmers have the resources and knowledge they
      need to thrive. The campaign has already achieved significant milestones,
      such as providing sufficient electricity to farmers, which has been
      instrumental in reducing costs and improving productivity
    </p>
    <br />
    <p class="two">
      FOTs core mission revolves around educating, empowering, and supporting
      farmers in adopting modern technologies and sustainable practices.
    </p>
  </div>
  <div class="ohlord">
    <p class="two">
      By promoting advanced farming techniques, FOT helps farmers enhance their
      productivity, increase their profits, and contribute positively to
      environmental stewardship.
    </p>
    <br />
    <p class="two">
      The overarching goal of the campaign is to create a brighter and more
      resilient future for agriculture, ensuring long-term viability and
      sustainability for the farming community.
    </p>
  </div>
</div>

<h1 class="goal">Our Goal</h1>

<svg
  xmlns="http://www.w3.org/2000/svg"
  width="205"
  height="4"
  viewBox="0 0 205 4"
  fill="none"
  class="svg"
>
  <path
    d="M0 2H203"
    stroke="#757575"
    stroke-width="4"
    stroke-linecap="square"
  />
</svg>

<p class="p">
  The goal of the "Fields of Tomorrow" campaign is to partner with the
  government to promote sustainable farming, improve farmers' financial
  stability, and ensure agricultural resilience. It aims to educate, empower,
  and support farmers in adopting modern technologies and practices to boost
  productivity, profitability, and environmental sustainability.
</p>

<div class="okok">
  <h1 class="adv">Advantages</h1>
  <div class="flexflex">
    <div class="cards">
      <h1 class="last">Policy Support</h1>
      <p class="istg">
        Working with the government provides access to policies and subsidies
        that can facilitate sustainable farming practices.
      </p>
    </div>
    <div class="cards">
      <h1 class="last">Resource Allocation</h1>
      <p class="istg">
        Ensures that resources such as electricity, water, and funding are
        efficiently allocated to farmers. Lorem ipsum dolor sit
      </p>
    </div>
    <div class="cards">
      <h1 class="last">Cost Reduction</h1>
      <p class="istg">
        By providing necessary resources like electricity, the campaign helps
        reduce operational costs for farmers.
      </p>
    </div>
    <div class="cards">
      <h1 class="last">Increased Profitability</h1>
      <p class="istg">
        With the adoption of modern technologies, farmers can increase their
        yields and profits. Lorem ipsum dolor sit
      </p>
    </div>
  </div>
</div>
