<nav>
  <div class="ok">
    <label class="label">F<span>O</span>T</label>
  </div>

  <ul>
    <li>
      <a
        href="/"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        href="/about"
        routerLink="/about"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >About Us</a
      >
    </li>
    <li>
      <a
        href="/projects"
        routerLink="/projects"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Projects</a
      >
    </li>
    <li>
      <a
        href="/contact"
        routerLink="/contact"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Contact Us</a
      >
    </li>
    <li><img class="logo" src="../../assets/logo_t.webp" /></li>
  </ul>
</nav>
