form {
  max-width: 500px;
  width: 95%;
  margin-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins";
}

.group {
  margin: 30px 0;
}

.group > * {
  display: block;
}

.group label {
  color: var(--text);
  font-size: 20px;
}

.group input,
.group select,
.group textarea {
  margin-top: 15px;
  width: 100%;
  padding: 15px 0;
  text-indent: 20px;
  font-size: 20px;
}

.get {
  text-align: center;
  color: var(--primary);
  font-weight: 900 !important;
  font-size: 50px;
  letter-spacing: 2px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .group,
  .group .label,
  .input[type="submit"],
  .group textarea {
    width: 100%;
    margin-top: 0;
  }
  .flex {
    padding: 0 30px;
  }
  .button {
    width: 100%;
  }
}

.group input {
  height: 40px;
  border-radius: 10px;
}

.group textarea {
  display: flex;
  height: 120px;
  border-radius: 10px;
}

.btn {
  width: 250px;
  height: 75px;
  background-color: var(--accent);
  margin-top: 60px !important;
  text-align: center;
  color: var(--background);
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  box-shadow: 0px 0px 50px var(--text);
  transition: 0.3s ease-in;
}

.btn a {
  color: white;
  text-decoration: none;
}

.error {
  color: var(--secondary);
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.btn:disabled {
  background-color: rgb(243, 239, 239);
  cursor: not-allowed;
  color: var(--text);
}
