form {
  max-width: 500px;
  width: 95%;
  display: flex;
  margin-left: auto;
  margin-right: 300px;
  font-family: "Poppins";
  border: 2px solid black;
  padding: 10px;
  border-radius: 20px;
  margin-top: 50px;
  height: 850px;
  flex-direction: column;
  justify-content: center;
}

.group {
  margin: 30px 0;
}

.group > * {
  display: block;
}

.group label {
  color: var(--text);
  font-size: 20px;
}

.group input,
.group select,
.group textarea {
  margin-top: 15px;
  width: 100%;
  padding: 15px 0;
  text-indent: 20px;
  font-size: 20px;
}

.get {
  font-family: "Inter";
  top: 50px;
  position: relative;
  color: var(--primary);
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 8px;
  align-self: stretch;
  background-color: transparent;
}

p {
  font-family: "Poppins";
  font-weight: 700;
  top: 65px;
  position: relative;
  color: #ededed;
  text-align: center;
  font-size: 24px;
  background-color: transparent;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .group,
  .group .label,
  .input[type="submit"],
  .group textarea {
    width: 100%;
    margin-top: 0;
  }
  .flex {
    padding: 0 30px;
  }
  .button {
    width: 100%;
  }
}

.group input {
  height: 40px;
  border-radius: 10px;
}

.group textarea {
  display: flex;
  height: 120px;
  border-radius: 10px;
}

.btn {
  width: 250px;
  height: 75px;
  background-color: var(--accent);
  margin-top: 60px !important;
  text-align: center;
  color: var(--background);
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  box-shadow: 0px 0px 50px var(--text);
  transition: 0.3s ease-in;
}

.btn a {
  color: white;
  text-decoration: none;
}

.error {
  color: var(--primary);
  font-size: 15px;
}

.btn:disabled {
  background-color: rgb(243, 239, 239);
  cursor: not-allowed;
  color: var(--text);
}

.ok {
  position: relative;
  background-image: url("../../assets/bg3.webp");
  background-size: cover;
  background-size: 100% 100%;
  color: var(--background);
  text-align: center;
  height: 500px;
}

.gigabyte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--accent);
  width: 700px;
  height: 400px;
  border-radius: 20px;
  gap: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-top: 50px;
  border: 2px solid black;
}

.card h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Inter";
  font-size: 30px;
  color: var(--text);
  font-weight: bold;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 300px;
}

.card h2 {
  margin: 30px;
  font-family: "Poppins";
  font-size: 20px;
  color: var(--text);
  font-weight: 500;
}

.phone,
.address {
  display: flex;
}

.get1 {
  font-family: "Inter";
  color: var(--text);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  background-color: transparent;
  margin-top: 50px;
}
