<div class="ok">
  <app-navbar></app-navbar>

  <div class="final">
    <div class="text1">Project WindPulse</div>
    <div class="text">
      "Project WindPulse" is an initiative introduced by the FOT (Fields of
      Tomorrow) campaign, aiming to support farmers by providing sustainable
      electricity solutions. This project focuses on installing windmills in
      rural villages to generate clean, renewable energy. By harnessing wind
      power, "Project WindPulse" seeks to stabilize electricity costs for
      farmers, reduce their reliance on non-renewable energy sources, and
      promote energy-efficient practices in agriculture.
    </div>
  </div>
</div>

<h1>Advantages:</h1>
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="207"
  height="4"
  viewBox="0 0 207 4"
  fill="none"
>
  <path
    d="M2 2H205"
    stroke="#757575"
    stroke-width="4"
    stroke-linecap="square"
  />
</svg>

<div class="mega">
  <div class="list">
    <ol>
      <li>Stable Electricity Costs</li>
      <li>Renewable Energy Adoption</li>
      <li>Energy Efficiency</li>
      <li>Enhanced Crop Quality</li>
      <li>Reliable Power Supply</li>
      <li>Increased Productivity</li>
    </ol>
  </div>
  <div>
    <img src="../../assets/windmill.webp" class="product" />
  </div>
</div>

<h2>
  "Project WindPulse" shows FOT's dedication to helping farmers with sustainable
  and cost-effective solutions, making farming stronger and more reliable for
  the future.
</h2>
