<div class="ok">
  <div class="text1">Fields of Tomorrow</div>
  <div class="text">
    Secure the Future of Farming <br />
    Today!
  </div>
  <div class="button">
    <button class="one"><a href="/about">About Us</a></button>
    <button class="two"><a href="/contact">Contact Us</a></button>
  </div>
</div>

<h1 class="what">Who are we?</h1>

<p>
  "Fields of Tomorrow" is a campaign that works with the government to support
  farmers. It focuses on making farming financially stable and sustainable. The
  campaign has completed major projects, such as providing enough electricity
  for farmers. Its main goals are to teach, empower, and support farmers in
  using modern technologies and sustainable practices. This helps farmers
  improve their productivity, increase their profits, and take better care of
  the environment. By working together, "Fields of Tomorrow" aims to ensure a
  brighter and more resilient future for agriculture.
</p>

<div class="flex2">
  <div class="card">
    <img
      src="../../assets/dummy.png"
      alt=""
      class="img"
      height="100"
      width="100"
      priority="true"
    />
    <h1 class="name">Ruhani Chaudhary</h1>
    <p class="role">Founder</p>
  </div>
</div>
